.column{
	display:flex;
	flex-flow: column;
}

#wrapp{
	border:1px solid;
	width: 350px;
}

.right{
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box;
	width: 10px;
	margin-right: 0;
}



table{ width: 100%;

}

td {
	border-bottom: 1px solid black;	
}

th {
	border-top: 1px solid black;
}

hr {
	background-color: black;
	height: 20px;
	width: 100%;
}

hr.thin {
	background-color: black;
	height: 10px;
	width: 100%;
}

.size {
	font-size: 10px;
}

.left {
	display: flex;
	justify-content: flex-start;
}

.mid {
	margin-right: 10px;
}